<!DOCTYPE html>
<html>

	
	<div class="contact">
		<p>if you want to get in touch, email me at adriennetjohnson@gmail.com.</p>
		<p>for more info about where i've worked, check <a href="http://www.linkedin.com/pub/adrienne-johnson/a2/821/624/" target="_blank" class="show">here</a>.</p>
		<p>or there's <a href="https://www.facebook.com/profile.php?id=1000990" target="_blank" class="show">facebook</a>.</p>
	</div>

<% for i in 0..10 %>
	<h3><%= i %> I like butter. </h3>
<% end %>

</body>
</html>