<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.erb">
	<title>i'm adrienne</title>
</head>

<body>
	<header>adrienne johnson</header>
		<ul class="nav-bar">
			<li class="nav-item"><a href="index.html">home</a></li>
			<li class="nav-item"><a href="portfolio.html">portfolio</a></li>
			<li class="nav-item"><a href="interests.html">interests</a></li>
			<li class="nav-item"><a href="contact.html">contact</a></li>
		</ul>
	<div class="right">
		<div class="text">
			<p>hello. i'm adrienne. i'm a copy editor and writer living in nyc.</p>
			<p>by day i work at <a href="http://www.intrepidmuseum.org" target="_blank" class="show">intrepid sea, air & space museum</a>.</p>
			<p>by night i do some freelance projects and a few other things you can read about on this site.</p>
		</div>
	</div>

	<div class="left">
		<img class="portrait" src="images/me.jpg">
	</div>

</body>
</html>

