<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>i'm adrienne</title>
</head>

<body>
	<header>adrienne johnson</header>
		<ul class="nav-bar">
			<li class="nav-item"><a href="index.html">home</a></li>
			<li class="nav-item"><a href="portfolio.html">portfolio</a></li>
			<li class="nav-item here"><a href="interests.html">interests</a></li>
			<li class="nav-item"><a href="contact.html">contact</a></li>
		</ul>

Comming soon.

		</body>
</html>