<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css" script src="/my_script.js">
	<title>i'm adrienne</title>
</head>

<body>
	<header>adrienne johnson</header>
		<ul class="nav-bar">
			<li class="nav-item"><a href="/home">home</a></li>
			<li class="nav-item"><a href="/portfolio">portfolio</a></li>
			<li class="nav-item"><a href="/interests">interests</a></li>
			<li class="nav-item"><a href="/contact">contact</a></li>
		</ul>
<%= yield %>

</body>
</html>