<!DOCTYPE html>
<html>
<head>
	
	<div class="container">
		<div class="left">
			<h3>magazine</h3>
			<a href="http://www.nxtbook.com/nxtbooks/mcmurry/vimvigor_2010winter-jhl/index.php?startid=4" target="_blank"><img src="images/vim.jpg" class="pics">
			<p><i>Vim & Vigor</i>, Winter 2010 "Planning for the Future of Elder Healthcare"</p></a>
		</div>

		<div class="left">
			<h3>newspaper</h3>
			<a href="http://www.thestar.com.my/News/Nation/2014/08/19/To-wear-scarf-or-not-to-wear-scarf/" target="_blank"><img src="images/star.jpg" class="pics">
			<p><i>The Star Online</i>, August 2014, "To Wear Scarf or Not to Wear Scarf"</p></a>
		</div>

		<div class="right">
			<h3>legal</h3>
			<a href="https://s3.amazonaws.com/cuttings/cuttingpdfs/189427/Patent%20Term%20Extension%20%E2%80%93%20Developments%20in%20Israel%20in%202012%20(1).pdf" target="_blank"><img src="images/reinhold.jpg" class="pics">
			<p>Reinhold Cohn Group, legal editing</p></a>
		</div>
	
		<div class="right">
			<h3>creative</h3>
			<a href="http://www.pology.com/article/06512.html" target="_blank"><img src="images/florence.jpg" class="pics">
			<p><i>Pology Magazine</i>, "Places, Everyone"</p></a>
		</div>
	</div>

</body>
</html>